.box {
  height: 120px;
  width: 120px;
  border: 6px outset black;
  background-color: rgb(247, 245, 242);
}

body {
  background-image: url("./assets/backGround.png");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logStyle {
  color: rgb(244, 244, 231);
}